#box-wrapper{
	margin-top: 100px;
	text-align: center;
}
#quote-box {
	width: 550px;
	min-width: 400px;


	background-color: #A9AFD1;
	border: 5px solid black;
	border-radius: 50px;

	padding: 20px 20px 0px 20px;
	overflow: hidden;
}
#author-text{
	text-align: right;
	padding-right: 35px;
}

#author-text p{
	display: inline;


}
#new-quote {
	margin-left: 230px;
	
}
#share_tweet, #login_tumblr{

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	padding: none;
	outline: none;
}
#tumblr-icon{
	color: white;
}
#twitter-icon{
	color: #1DA1F2;
}
#buttons{
	padding: 20px;
}
#buttons a{
	padding-right: 10px;
}
#new-quote {
	background-color: black;
	color: white;
}

.quote_text{
	font-family: Raleway;
	font-size: 20px;
	padding-top: 20px;
	}

h1{
	text-align: center;
	margin-top: 50px;
}
body {
	background-color: #A1CDF4;
}
footer {
	text-align: center;

	padding: 20px;
	line-height:25px;
	font-size: 18px;
}